<a href="https://colab.research.google.com/github/nivethsaran/PythonForDataScience/blob/master/LearnML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This notebook is created under the assumption that the reader has basic python and OOPS knowledge.**

# **DATASCIENCE AND ML(Dataquest Notes)**

---

## **Importing Libraris and Reading Datasets**

**`The above lines of code includes all libraries to be imported and also the code to upload the required datasets.`**

In [0]:
import pandas as pd       
import numpy as np
from csv import *
import io
import re
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

# uploaded = files.upload()    #upload the dataset using the given code

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [213]:
#reading a file
opened=open("/content/Players_Stats.csv")
readfile=reader(opened)
data=list(readfile)
# print(data)

#reading data as a dataframe
df=pd.read_csv("/content/Players_Stats.csv")
# df2 = pd.read_csv(io.BytesIO(uploaded['california_housing_train.csv']))
print(df.shape)


#reading file as numpy array

data_np=np.array(data)
print(data_np.shape)

# data_np=np.genfromtxt('/content/Players_Stats.csv',delimiter=',',skip_header=1)
# print(data_np[1:])
# print(data_np.shape)

(9133, 9)
(9134, 9)

## **Numpy  Funtions,Array Slicing and Boolean indexing on Numpy Arrays**

### `Numpy Array Slicing`

In [0]:
print(data_np[1])  #Selecting a Row in numpy

print(data_np[:,2]) #Selecting a Column

print(data_np[1:6]) #Selecting Multiple Rows

print(data_np[:,2:4]) #Selecting Multiple Columns

cols=[1,4,6]
print(data_np[:,cols]) #Selecting specific columns,same can be applied to rows as well

print(data_np[1,4]) #Selecting a specific value in the dataset - similiar to a 2D Matrix

print(data_np[0:5,cols]) #2D Slicing

### `Numpy Functions`

In [0]:
#numpy functions

playedmins=data_np[1:,4].astype(float)

print(playedmins.mean())

print(np.mean(playedmins)) #another way to use numpy methods

print(playedmins.min())    #other functions include the below ones

print(playedmins.sum()/playedmins.size)

print(playedmins.max())

### `Boolean Indexing on Numpy Arrays`

In [0]:
played_mins=data_np[1:,4].astype(int)

club=data_np[1:,2]

data_np=data_np[1:]
print(played_mins<2800)     #basic filtering gives you a boolean array. This boolean array is the filter

filter=(played_mins<2900)
print(data_np[filter,2:3])  #the filter chooses the rows, and we can print necessary columns

data_np[filter,4]=1         #assigning values using the filters(boolean masks)

## **Pandas(Dataframes and Related Stuff including Boolean Indexing)**

### `Collecting Basic Details about Dataframes`

In [0]:
print(df.shape)       #Order of the dataframe
print(df.dtypes)      #Schema of the dataframe
print(df.describe)    #SELECT*FROM DATAFRAME seen from the mysql perspective
print(df.info())

### `Selecting Rows and Columns`

In [0]:
# Rank            int64
# player         object
# club           object
# playedgames     int64
# playedmins      int64
# perfdef        object
# perfattack     object
# perfposs        int64
# total          object

#Explicit

print(df.loc[:,'player'])    #Single Column

collist=['player', 'club']

print(df.loc[:,collist])     #List of columns, you can directly mention thhe list or store the list in a variable beforehand

print(df.loc[:,'player':'total'].head())  #head() prints the first five rows,pretty useful in many cases

#All the above selections or slices from dataframes return objects of Series datatypes
#Rows can also be sliced in similiar manner as columns if Rows are labelled

#ShortHand

print(df['player'])          #Single Column in a shorter way

print(df[collist])           #List of Columns in a shorter way,there is no way to slice columns using shorthand expressions


series_df=df.iloc[1,0:6]   #Series should be having labels, else we find using index.

#NOTE SERIES IS ONE DIMENSIONALLLLLL ELSE IT IS A DATAFRAME

print(series_df)

print(series_df.loc['perfdef'])         #item from series

print(series_df.loc[collist])           #list from series

print(series_df.loc['player':'perfdef']) #slice from series

#Using ILOC

print(df.iloc[2,0])

print(df.iloc[:,2:7])

#Using ILOC Is pretty much the same as numpy indexing.

### `Boolean Indexing`

In [0]:
filter=df['club']=='Midfielder - Chelsea'

print(filter)      #now we use this filter to choose rows

print(df['perfdef'].isnull())

filter2=df['perfdef'].isnull()    #another way to use filters.

print(df.loc[filter])

print(df.loc[filter,collist])   

print(df[filter])

### `Data Cleaning(Renaming and Modifying Columns and Data inside columns`

In [0]:
df.rename(columns={'club':'club-positions'},inplace=True)        #Rename a Column

print(df.loc[:,'club-positions':'perfdef'])                      

#In the data set, we want to know the position of every player.

df['positions']=df.loc[:,'club-positions'].str.split('-').str[0];#Adding another column 

print(df.loc[:,'club-positions':'positions'])

#Now we modify the value 'Midfielder' to 'Mid-fielder'

mappingdict={
    'Midfielder ':'MF',
    'Forward ':'FW',
    'Defender ':'DF',
    'Goalkeeper ':'GK'
}

#the mapping dictionary must include all values, else all the columns would be saved as Nan

df['positions']=df['positions'].map(mappingdict)   #modifying all columns in a database

# print(df['positions'])     #If a column's value neednt be changed, the key and value should be the same in mappingdict value

no_null_rows=df.dropna(axis=0)     #drops missing values

df.to_csv("/content/Players_Stats_Modified.csv",index=False)

## **Plotting Graphs using Mathplotlib.pyplot**

### `Basic Graphs`

TODO: Add details about each graph

Note: The below graphs may not convey much meaning

In [0]:
df_for_plotting=df.head(100)           #data i am gonna use for plotting sample graphs

# print(df['positions'].value_counts().dtype)     

list_freq=[]
for value in df['positions'].value_counts():     #value_counts is very useful in finding frequency
    list_freq.append(value)
    
    
list_names=df['positions'].unique()

# print(list_names)

fig=plt.figure(figsize=(12,7))       #figure is the container to hold all subplots
ax1=fig.add_subplot(3,2,1)
ax1.plot(df_for_plotting['Rank'],df_for_plotting['playedmins'],color='#7e97a6')
ax1.plot(df_for_plotting['Rank'],df_for_plotting['playedmins']+200,color='red')      #plotting two line graphs in same plot
ax2=fig.add_subplot(3,2,2)
ax2.hist(df_for_plotting['playedmins'].head(20),color='#7e97a6')
ax3=fig.add_subplot(3,2,3)
ax3.bar(list_names,list_freq)           #axes is the container for each subplot
ax4=fig.add_subplot(3,2,4)
ax4.scatter(df_for_plotting['total'].head(30),df_for_plotting['playedmins'].head(30),color='#7e97a6')
ax5=fig.add_subplot(3,2,5)
ax5.boxplot(df_for_plotting['playedmins'])
ax6=fig.add_subplot(3,2,6)
ax6.stackplot(df_for_plotting['Rank'],df_for_plotting['perfdef'].str.replace(',','').astype(int),df_for_plotting['perfattack'].str.replace(',','').astype(int),df_for_plotting['perfposs'])

ax1.title.set_text("Graph 1-Line Plot")
ax2.title.set_text("Graph 2-Histogram")
ax3.title.set_text("Graph 3-Bar Graph")
ax4.title.set_text("Graph 4-Scatter Plot")
ax5.title.set_text("Graph 5-Box Plot")
ax6.title.set_text("Graph 5-Stack Plot(Area Plot)")



#Plot Aesthetics(Keep it as minimal as possible)

ax1.tick_params(bottom='off',top='off',left='off',right='off')

for key,spine in ax1.spines.items():
  spine.set_visible(False)

ax1.set_xlabel('Rank')
ax1.set_ylabel('Minutes Played')

ax1.legend()
ax2.legend()
ax3.legend()
ax4.legend()
ax5.legend()
ax6.legend()

plt.show()

### `Geographic Maps`

In [0]:
#Yet to be done

### `Conditional Plot(Seaborn Module)`

In [0]:
#Yet to be done
fig1=sns.distplot(df_for_plotting['playedmins'])

fig2=sns.kdeplot(df_for_plotting['playedmins'])

## Data Cleaning and Analysis

### `Data Aggregation`



```
Things to note in the below code cell

1.   New ways to plot graphs
2.   pivot table function can take params as strings or list of strings
           for values,index,aggfunc parameters
3.   df.groupby returns GroupBy object
4.   df.pivot_table returns a Dataframe


```

In [0]:
df_grouped=(df.groupby('positions'))     #groupby positions of all players

print(df_grouped.mean())         #object returned is GroupBy object

print(df_grouped.agg(['mean','sum']))           #there are two ways to use aggregate functions on GroupBy Objects

print(df_grouped['playedmins'].agg(['mean','max','min','sum','size','count']))    #all functions available with groupby object

print(type(df.pivot_table('playedmins','positions',aggfunc='mean')))

df_pt=df.pivot_table('playedmins','positions',aggfunc='mean');

df_pt_multiple=df.pivot_table(['playedmins','playedgames'],['positions','club-positions'],aggfunc=['mean','min'])

print(df_pt_multiple.info())

print(df_pt_multiple)
df_pt.plot(kind='bar')

###`Combining and Transforming Data with Pandas`