<a href="https://colab.research.google.com/github/nivethsaran/PythonForDataScience/blob/master/LearnML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This notebook is created under the assumption that the reader has basic python and OOPS knowledge.**

# **DATASCIENCE AND ML(Dataquest Notes)**

---

## **Importing Libraris and Reading Datasets**

**`The above lines of code includes all libraries to be imported and also the code to upload the required datasets.`**

In [0]:
import pandas as pd
import numpy as np
from csv import *
import io
import matplotlib.pyplot as plt
from google.colab import files

uploaded = files.upload()    #upload the dataset using the given code

Saving Players_Stats.csv to Players_Stats.csv

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [152]:
#reading a file
opened=open("/content/Players_Stats.csv")
readfile=reader(opened)
data=list(readfile)
# print(data)

#reading data as a dataframe
df=pd.read_csv("/content/Players_Stats.csv")
# df2 = pd.read_csv(io.BytesIO(uploaded['california_housing_train.csv']))
print(df.shape)


#reading file as numpy array

data_np=np.array(data)
print(data_np.shape)

# data_np=np.genfromtxt('/content/Players_Stats.csv',delimiter=',',skip_header=1)
# print(data_np[1:])
# print(data_np.shape)

(9133, 9)
(9134, 9)

## **Numpy  Funtions,Array Slicing and Boolean indexing on Numpy Arrays**

### `Numpy Array Slicing`

In [0]:
print(data_np[1])  #Selecting a Row in numpy

print(data_np[:,2]) #Selecting a Column

print(data_np[1:6]) #Selecting Multiple Rows

print(data_np[:,2:4]) #Selecting Multiple Columns

cols=[1,4,6]
print(data_np[:,cols]) #Selecting specific columns,same can be applied to rows as well

print(data_np[1,4]) #Selecting a specific value in the dataset - similiar to a 2D Matrix

print(data_np[0:5,cols]) #2D Slicing

### `Numpy Functions`

In [0]:
#numpy functions

playedmins=data_np[1:,4].astype(float)

print(playedmins.mean())

print(np.mean(playedmins)) #another way to use numpy methods

print(playedmins.min())    #other functions include the below ones

print(playedmins.sum()/playedmins.size)

print(playedmins.max())

### `Boolean Indexing on Numpy Arrays`

In [0]:
played_mins=data_np[1:,4].astype(int)

club=data_np[1:,2]

data_np=data_np[1:]
print(played_mins<2800)     #basic filtering gives you a boolean array. This boolean array is the filter

filter=(played_mins<2900)
print(data_np[filter,2:3])  #the filter chooses the rows, and we can print necessary columns

data_np[filter,4]=1         #assigning values using the filters(boolean masks)

## **Pandas(Dataframes and Related Stuff including Boolean Indexing)**

### `Collecting Basic Details about Dataframes`

In [106]:
print(df.shape)       #Order of the dataframe
print(df.dtypes)      #Schema of the dataframe
print(df.describe)    #SELECT*FROM DATAFRAME seen from the mysql perspective

(9133, 9)
Rank            int64
player         object
club           object
playedgames     int64
playedmins      int64
perfdef        object
perfattack     object
perfposs        int64
total          object
dtype: object
<bound method NDFrame.describe of       Rank              player  ... perfposs  total
0        1       Mohamed Salah  ...     -151  1,419
1        2         Eden Hazard  ...      205  1,375
2        3     Kevin De Bruyne  ...      331  1,305
3        4          Harry Kane  ...     -165  1,200
4        5         David Silva  ...      511  1,136
5        6    Nicolas Otamendi  ...      612  1,068
6        7       Sergio Aguero  ...        9  1,050
7        8      Jan Vertonghen  ...      318  1,022
8        9     Raheem Sterling  ...      122  1,003
9       10   Christian Eriksen  ...       50    965
10      11          Mesut Ozil  ...      513    949
11      12         Fernandinho  ...      459    873
12      13   Cesar Azpilicueta  ...      294    871
13      14          Paul Pogba  ...      120    824
14      15          Leroy Sane  ...       14    813
15      16             Willian  ...      103    804
16      17             Ederson  ...      329    791
17      18      Chris Smalling  ...      180    766
18      19        Granit Xhaka  ...      339    761
19      20            Coutinho  ...       87    760
20      21      Alexis Sanchez  ...     -125    751
21      22       Son Heung-Min  ...      -50    750
22      23        N'Golo Kante  ...      270    712
23      24       Nacho Monreal  ...      271    708
24      25     Virgil van Dijk  ...      311    682
25      26  Oxlade-Chamberlain  ...       -1    652
26      27   Laurent Koscielny  ...      260    639
27      28        Fabian Delph  ...      318    637
28      29    Shkodran Mustafi  ...      212    636
29      30          Phil Jones  ...      201    630
...    ...                 ...  ...      ...    ...
9103   501      Jairo Samperio  ...      -61    -93
9104   502         Brown Ideye  ...     -109    -97
9105   503        Alex Alegria  ...     -138   -102
9106   504    Jonathan Calleri  ...     -414   -105
9107   505       Damian Suarez  ...     -237   -106
9108   506                Keko  ...     -121   -106
9109   507     Alfonso Pedraza  ...     -297   -112
9110   508         Manu Garcia  ...     -182   -113
9111   509     Mauro Arambarri  ...     -203   -118
9112   510      Geronimo Rulli  ...      113   -119
9113   511        Antonio Adan  ...       32   -122
9114   512         Samu Garcia  ...      -89   -131
9115   513       Oier Olazabal  ...     -102   -132
9116   514        Eneko Boveda  ...     -102   -141
9117   515                 Ivi  ...     -284   -147
9118   516         Sergio Rico  ...       22   -149
9119   517        Raul Lizoain  ...       61   -165
9120   518       Inigo Cordoba  ...     -223   -168
9121   519     Fabian Orellana  ...     -111   -168
9122   520      Nordin Amrabat  ...     -333   -178
9123   521        Jorge Molina  ...     -418   -182
9124   522   Youssef En-Nesyri  ...     -274   -187
9125   523     Claudio Beauvue  ...     -263   -190
9126   524        Hernan Perez  ...      -97   -209
9127   525    Vitorino Antunes  ...     -293   -213
9128   526       Florin Andone  ...     -315   -225
9129   527      Carlos Vigaray  ...     -105   -226
9130   528           Pere Pons  ...     -177   -233
9131   529      Ruben Martinez  ...      -30   -280
9132   530        Amath Ndiaye  ...     -443   -453

[9133 rows x 9 columns]>

### `Selecting Rows and Columns`

In [0]:
# Rank            int64
# player         object
# club           object
# playedgames     int64
# playedmins      int64
# perfdef        object
# perfattack     object
# perfposs        int64
# total          object

#Explicit

print(df.loc[:,'player'])    #Single Column

collist=['player', 'club']

print(df.loc[:,collist])     #List of columns, you can directly mention thhe list or store the list in a variable beforehand

print(df.loc[:,'player':'total'].head())  #head() prints the first five rows,pretty useful in many cases

#All the above selections or slices from dataframes return objects of Series datatypes
#Rows can also be sliced in similiar manner as columns if Rows are labelled

#ShortHand

print(df['player'])          #Single Column in a shorter way

print(df[collist])           #List of Columns in a shorter way,there is no way to slice columns using shorthand expressions


series_df=df.iloc[1,0:6]   #Series should be having labels, else we find using index.

#NOTE SERIES IS ONE DIMENSIONALLLLLL ELSE IT IS A DATAFRAME

print(series_df)

print(series_df.loc['perfdef'])         #item from series

print(series_df.loc[collist])           #list from series

print(series_df.loc['player':'perfdef']) #slice from series

#Using ILOC

print(df.iloc[2,0])

print(df.iloc[:,2:7])

#Using ILOC Is pretty much the same as numpy indexing.

### `Boolean Indexing`

In [0]:
filter=df['club']=='Midfielder - Chelsea'

print(filter)      #now we use this filter to choose rows

print(df['perfdef'].isnull())

filter2=df['perfdef'].isnull()    #another way to use filters.

print(df.loc[filter])

print(df.loc[filter,collist])   

print(df[filter])

### `Data Cleaning(Renaming and Modifying Columns and Data inside columns`

In [0]:
df.rename(columns={'club':'club-positions'},inplace=True)        #Rename a Column

print(df.loc[:,'club-positions':'perfdef'])                      

#In the data set, we want to know the position of every player.

df['positions']=df.loc[:,'club-positions'].str.split('-').str[0];#Adding another column 

print(df.loc[:,'club-positions':'positions'])

Now we modify the value 'Midfielder' to 'Mid-fielder'

mappingdict={
    'Midfielder ':'MF',
    'Forward ':'FW',
    'Defender ':'DF',
    'Goalkeeper ':'GK'
}

#the mapping dictionary must include all values, else all the columns would be saved as Nan

df['positions']=df['positions'].map(mappingdict)   #modifying all columns in a database

print(df['positions'])     #If a column's value neednt be changed, the key and value should be the same in mappingdict value

no_null_rows=df.dropna(axis=0)     #drops missing values

df.to_csv("/content/Players_Stats_Modified.csv",index=False)

## **Plotting Graphs using Mathplotlib.pyplot**

In [0]:
# pandafile=pd.read_csv("/content/sample_data/california_housing_train.csv")
# print(pandafile)
# print(pandafile.dtypes)
# print(pandafile.shape)
# print((pandafile.iloc[1,2]))
# print(type(pandafile.loc[:,["median_house_value","total_rooms"]]))
# pandafile=pandafile.sort_values(by=['median_house_value'])
# plt.plot(pandafile["median_house_value"].head(100),pandafile["total_bedrooms"].head(100))
# plt.show()